<!DOCTYPE html>
{%extends 'checkapp/base.html'%}
{%block title%}{{pd.companey}}{%endblock%}
{%block content%}
  <h1>{{pd.companey}}</h1>
  <p id='date' style="color:green;">published on {{pd.publish}} by {{pd.author|title}}</p>
  {{pd.body|linebreaks}}
  <p style="text-align:center;">
    <a href="/{{pd.id}}/share" class="btn btn-lg btn-primary" target="__blank">Share Post By Email</a>
  </p>
  <br><br>
  {%with comments.count as comments_count%}
    <h2>{{comments_count}} comment {{comments_count | pluralize}}</h2>
    {%endwith%}
    <div class="com">
        {%if comments%}
          {%for comment in comments%}
            <p>comment{{forloop.counter}} by {{comment.name}} on {{comment.created}}</p>
            <div class="cb">{{comment.body|linebreaks}}</div>
          {%endfor%}
        {%else%}
          <p>There is no comments yet</p>
        {%endif%}
        {%if csubmit%}
          <h2>Your comment added succesfully</h2>
        {%else%}
          <form method="post">
            {{fd.as_p}}
            {%csrf_token%}
            <input type="submit" name="" class="btn btn-lg btn-success" value="Submit Comments">
          </form>
        {%endif%}
    </div>
{%endblock%}
